page-moods {
	.product-added img { margin-top: 11px;padding: 2px;}
	.bg-black .item-md,.product-list-div.item-md.item-block .item-inner,.bg-black .item-ios,.product-list-div.item-ios.item-block .item-inner{padding:0;}
	.label-md,.label-ios {margin:0;}
	.scroll-content {
	    margin-top: 56px;margin-bottom: 50px !important;
	}
	h1 {text-align: center; margin-bottom: 16px;margin-top: 10px;}
	.product-list-div { border: none;}
}
