page-home {
	.product-div{min-height: 166px;padding: 0 5px;}
	.toolbar-title-md,.toolbar-title-ios {top: 4px;}
	.scroll-content { padding: 16px 10px !important;}
	.product-name { margin: 0;}
	.label-md{margin: 13px 13px 13px 0px;}
}
