<ion-header>
	<ion-navbar>
		<ion-title>Home 
			<span class="cust-gear headersetting-icon" (click)="mainSettings()" item-end>
				
			</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding class="bg-black">
	<!-- <div class="product-div text-center" (click)="singleswitch()">
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-1.png">
		</ion-item>
		<p class="product-name primary-text"><span>Single Switch</span></p>
	</div>
	<div class="product-div text-center" (click)="singleswitchwithslider()">
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item>
		<p class="product-name primary-text"><span>Single Switch With Slider</span></p>
	</div>
	<div class="product-div text-center" (click)="twoswitch()">
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item>
		<p class="product-name primary-text"><span>Two Switch</span></p>
	</div>
	<div class="product-div text-center" (click)="fourswitchonlyshedular()">
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item>
		<p class="product-name primary-text"><span>Four Switch Only Shedular</span></p>
	</div>
	<div class="product-div text-center" (click)="fourswitchonesliderandshedular()">
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item>
		<p class="product-name primary-text"><span>Four Switch</span></p>
	</div>
	<div class="product-div text-center" (click)="eightswitch()">
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item>
		<p class="product-name primary-text"><span>Eight Switch</span></p>
	</div>
	<div class="product-div text-center" (click)="colorpickerslide()">
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item>
		<p class="product-name primary-text"><span>LED Bulb</span></p>
	</div> -->

	 <!-- <ion-list *ngFor="let device of data">
		<ion-item *ngIf="device != null; else elseBlock" class="no-padding">
			<div class="product-div text-center" (click)="twoswitch()">
				<ion-item class="product-list-div product-added">
					<img src="assets/imgs/device-img-2.png">
				</ion-item>
				<p *ngIf="data == 0" class="product-name primary-text"><span>{{data.friendlyName}}</span></p>
			</div>

			<div class="product-div text-center" (click)="colorpickerslide()">
				<ion-item class="product-list-div product-added">
					<img src="assets/imgs/device-img-2.png">
				</ion-item>
				<p *ngIf="data == 1" class="product-name primary-text"><span>{{data.friendlyName}}</span></p>
			</div>

		    <img src="assets/imgs/device-img-2.png">
		    <h2>{{data.endpointId}}</h2>
		    <p  *ngIf="data == 0">{{data.friendlyName}}</p>
    		<p  *ngIf="data == 1">{{data.friendlyName}}</p>
    		<p  *ngIf="data == 2">{{data.friendlyName}}</p>
            <p  *ngIf="data == 3">{{data.friendlyName}}</p>
            
		</ion-item>
		<ng-template #elseBlock>
	    	<div class="product-div text-center" (click)="selectproduct()">
				<ion-item class="product-list-div">
					<ion-icon name="md-add"></ion-icon>
				</ion-item>
				<p class="product-name primary-text">Add Product</p>
			</div>
		</ng-template>
    </ion-list>
 -->
 
 <!-- correct code -->
    <div class="product-div text-center" *ngFor="let item of items; let i = index" 
    [ngSwitch]="item.type">
		<!-- <ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item> -->

		<div *ngSwitchCase="'SWITCH'" (click)="eightswitch(item,i)">
			<ion-item class="product-list-div product-added">
				<img src="assets/imgs/device-img-1.png">
			</ion-item>
			<p class="product-name primary-text"><span>{{i+1}}. {{item.name}}</span></p>
		</div>

		<div *ngSwitchCase="'LIGHT'" (click)="ledtabs(item,i)">
			<ion-item class="product-list-div product-added">
				<img src="assets/imgs/device-img-2.png">
			</ion-item>
			<p class="product-name primary-text"><span>{{i+1}}. {{item.name}}</span></p>
		</div>

		<div *ngSwitchCase="'FAN'" (click)="singleswitchwithslider(item,i)">
			<ion-item class="product-list-div product-added">
				<img src="assets/imgs/device-img-2.png">
			</ion-item>
			<p class="product-name primary-text"><span>{{i+1}}. {{item.name}}</span></p>
		</div>

		<div *ngSwitchDefault (click)="twoswitch()">
			<ion-item class="product-list-div product-added">
				<img src="assets/imgs/device-img-1.png">
			</ion-item>
			<p class="product-name primary-text"><span>{{item.name}}</span></p>
		</div>
	</div>

		<!-- <p class="product-name primary-text" (click)="singleswitchwithslider()" *ngSwitchCase="'SWITCH'">
			<ion-item class="product-list-div product-added">
			<img class="product-list-div product-added" src="assets/imgs/device-img-1.png">
			</ion-item>
			<span>{{item.name}}</span>
		</p>

		<p class="product-name primary-text" (click)="colorpickerslide()" *ngSwitchCase="'LIGHT'"><span>{{item.name}}</span></p>

		<p class="product-name primary-text" (click)="eightswitch()" *ngSwitchCase="'FAN'"><span>{{item.name}}</span></p> -->
	

 	<!-- <ion-card class="cardconteudo" *ngFor="let item of items">
		<div class="product-div text-center" >
		<ion-item class="product-list-div product-added">
			<img src="assets/imgs/device-img-2.png">
		</ion-item>
		<ion-card-content>
			<ion-card-title class="product-name primary-text">
				{{item.endpointId}}
			</ion-card-title>
			<p class="product-name primary-text">
				{{item.friendlyName}}
			</p>
		</ion-card-content>
		</div>
	</ion-card> -->

	<div class="product-div text-center" (click)="selectproduct()">
		<ion-item class="product-list-div">
			<ion-icon name="md-add"></ion-icon>
		</ion-item>
		<p class="product-name primary-text" >Add Product</p>
	</div>

	<!-- <div class="product-div text-center" (click)="deleteItem(i+1)">
		<ion-item class="product-list-div">
			<ion-icon name="md-add"></ion-icon>
		</ion-item>
		<p class="product-name primary-text" >Delete Product</p>
	</div> -->
</ion-content>
